* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

:root {
--primary-color: #13242c;
--secondary-color: #422C73;
--complimentary-color: #88BFB5;
--contrast-color: #F2E527;
--light-color: #D2A9D9;
--card-height: 420px;
--card-width: calc(var(--card-height) / 1.5);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.loading {
    width: 100vw;
    height: 100dvh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
  background: #191919;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
nav a {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
nav a:hover,
nav a:target:active {
    transform: scale(1.8) rotate(-15deg);
    transition: all 0.5s ease-in-out;
}
.nav_link:hover,
.nav_link:active {
    color: #8400ff;
}

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    gap: 25px;
    width: 100%;
    background: linear-gradient(45deg, #00bcd499, #e91e6380);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    transition: all 0.5s ease-in-out;
}

section {
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
} 

.hidden {
    display: none;
    visibility: hidden;
}

.close_btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 0;
    top: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 8px;
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
    cursor: pointer;
    z-index: 10;
}

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

/* Styles applied on trigger */
section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
    transition: all 0.5s ease-in-out;
}

#NFTgallery {
  background:var(--primary-color);
}
#NFTdrop {
    background: var(--primary-color);
}

#Blog {
    background: var(--primary-color);
}

#Account {
    background: var(--primary-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}

.mint_container {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.mintCompletionArea {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.timerLabel {display: none;}
.timer {
    display: inline-flex;
    gap: 15px;
}
.timerItem {
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 0 0 7px #FFEB3B;
}

.item_section, .detail_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover_image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 8px;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 8px;
}

.title h1 {
    font-size: 1.5rem;
    text-align: center;
    background: linear-gradient(90deg, #c51313 1.84%, #FFC107 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 0px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  border-radius: 8px;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient( to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97% );
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
  border-radius: 8px;
}

.card:hover .wrapper::before,
.wrapper::after {
  backdrop-filter: blur(5px);
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
  margin-bottom: 80px;
  transform-style: preserve-3d;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
  z-index: -1;
  transform-style: preserve-3d;
}

.character {
  width: auto !important;
  height: 80% !important;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
  top: 55px;
  transform-style: preserve-3d;
}

.card:hover > .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
  transform-style: preserve-3d;
}

.text_center {
    text-align: center;
}

.web3Button {
    background: linear-gradient(45deg, #c51313 1.84%, #FFC107 102.67%) !important;
    box-shadow: 0px 5px 12px -2px #efefef6b;
}

@media(max-width: 767px){
.mint_container {
    flex-wrap: wrap;
    }
.mintCompletionArea {
    margin-top: 20px;
    }
section {
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
    }
}
